.container {
  position: relative;

  margin: 64px 0;

  font-size: var(--font-size-sm);

  display: flex;
  align-items: center;
  justify-content: center;
}

.link + .link {
  margin-left: 16px;
}

@media (max-width: 640px) {
  .container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
